<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>$author$: $title$</title>
    $for(css)$
    <link rel="stylesheet" href="$css$" />
    $endfor$
  </head>
  <body>
    <h1>$author$</h1>
    <div class="social">
      <ul>
        <li>
          $age$ ans
        </li>
        <li>
          Permis $permis$
        </li>
        <li>
          <img src="https://emoji.dutl.uk/png/32x32/📧.png" alt="📧" height="11"/>
          <a href="mailto:$email$">$email$</a>
        </li>
        <!-- <li>$phone$</li> -->
        <!-- <li><a href="https://$web$">$web$</a></li> -->
        <!-- <li><a href="https://github.com/$github$">GitHub</a></li> -->
        <li>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/72px-LinkedIn_icon.svg.png" alt="LinkedIn" height="11">
          <a href="https://linkedin.com/in/$linkedin$">$linkedin$</a>
        </li>
      </ul>
    </div>
    <hr />
    $body$
  </body>
  <footer>
    <p>Dernière mise à jour - $updated$.</p>
  </footer>
</html>